<footer>
  <section class="footer-container">
    <div class="row text-center">
        <div class="col-12 col-sm-3 col-md">
          <ul>
            <li>About</li>
            <li>Locations</li>
            <li>Franchise With Us</li>
            <li>Partners</li>
            <li>About Us</li>
            <li>Make Fetch Happen!</li>
          </ul>
        </div>
        <div class="col-12 col-sm-3 col-md">
          <ul>
            <li>Resources</li>
            <li>Reviews</li>
            <li>Pet Resource Center</li>
            <li>Media Fact Sheet</li>
            <li>Blog</li>
            <li>News</li>
          </ul>
        </div>
        <div class="col-12 col-sm-3 col-md">
          <ul>
            <li><br></li>
            <li>Gift Cards</li>
            <li>Services</li>
            <li>Franchisee Login</li>
            <li>Terms of Use</li>
            <li>Privacy Policy</li>
          </ul>
        </div>
        <div class="col-12 col-sm-3 col-md">
          <ul>
            <li>NewsLetter</li>
            <li>Sign up to receive the Fetch! Family Newsletter</li>
            <app-btnicon></app-btnicon>
          </ul>
        </div>
    </div>
  </section>
</footer>
