<section id="howItWorks" class="howItWork-container">
  <div class="howItWork-left">
    <div class="howItWork-left__cardOne">
      <app-card routeCard="./assets/img/Grupo 69.svg" textCard="Reserve"></app-card>
    </div>
    <div class="howItWork-left__cardTwo">
      <app-card routeCard="./assets/img/Grupo 70.svg" textCard="Match"></app-card>
    </div>
    <div class="howItWork-left__cardThree">
      <app-card routeCard="./assets/img/Grupo 71.svg" textCard="Relax"></app-card>
    </div>
    <div class="circleDashed"></div>
  </div>
  <div class="howItWork-right">
    <app-location-text locationTitle="How it Works" locationText="Because finding a good pet sitter shouldn’t be a hassle. With Fetch! It’s as easy as…"></app-location-text>
  </div>
</section>
