.howItWork-container {
  width: 90%;
  height: 747px;
  display: flex;
  flex-direction: row;
  justify-content: space-around ;
  margin: 500px auto 0 auto;
  padding: 0 5%;
  position: relative;
}
.howItWork-left{
  width: 45%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 249px 1fr 249px;
  position: relative;
}
.howItWork-left__cardTwo{
  grid-column-start: 3;
  grid-column-end: 4 ;
  grid-row-start: 2;
}
.howItWork-left__cardThree{
  grid-row-start: 3;
}
.howItWork-right{
  width: 45%;
  height: 100%;
}
.circle-dotted{
  width: 600px;
  height: 600px;
  border: 7px dashed var(--unnamed-color-fd6845);
}
.circleDashed{
  width: 75%;
  height: 80%;
  border: 7px dashed var(--unnamed-color-fd6845);
  border-left: 0px;
  position: absolute;
  z-index: -1;
  -moz-border-radius: 0 100% 100% 0;
  -webkit-border-radius: 0 100% 100% 0;
  border-radius: 0 100% 100% 0;
  margin-top: 10%;
}
