<div class="showMobile"></div>
<div class="hideMobile">
  <div class="nav">
    <div class="nav__logo">
      <a href="/"><img src="./assets/img/pet-mini.svg" alt="logo"></a>
    </div>
    <div class="nav__links">
      <a href="/home#hero">Hero</a>
      <a href="/home#services">Services</a>
      <a href="/home#aboutUs">About US</a>
      <a href="/home#howItWorks">How it Works</a>
      <a href="/home#makeFetch">Make Fetch! </a>
      <a href="" (click)="closeSession()">Cerrar sesion</a>
    </div>
  </div>
</div>
