<section class="plans-container--slider">
  <article class='carousel__item'>
    <div class="plans-container--card">
      <div class="plan-info-container">
        <h3 class="plan-card--title">Pago Mensual</h3>
        <p class="plan-card--price"><sup>$</sup>19</p>
        <p class="plan-card--saving">*Ahorras $1 comparado al plan mensual.</p>
        <button class="plan-card--ca">Escoger este <span></span></button>
      </div>
    </div>
  </article>
  <article class='carousel__item'>
    <div class="plans-container--card">
      <div class="plan-info-container">
        <h3 class="plan-card--title">Pago Trimestral</h3>
        <p class="plan-card--price"><sup>$</sup>39</p>
        <p class="plan-card--saving">*Ahorras $72 comparado al plan mensual.</p>
        <button class="plan-card--ca">Escoger este <span></span></button>
      </div>
    </div>
  </article>
  <article class='carousel__item'>
    <div class="plans-container--card">
      <p class="recommended">Recomendado</p>
        <div class="plan-info-container">
          <h3 class="plan-card--title">Pago Anual</h3>
          <p class="plan-card--price"><sup>$</sup>99</p>
          <p class="plan-card--saving">*Ahorras $129 comparado al plan mensual.</p>
          <button class="plan-card--ca">Escoger este <span></span></button>
        </div>
    </div>
  </article>
</section>
