<section class="plans-container--slider">
  <article class='carousel__item'>
    <div class="plans-container--card">
      <div class="plan-info-container">
        <div class="plan-card--img"></div>
        <h3 class="plan-card--title">Kenned Dsouza</h3>
        <p class="plan-card--saving">" I like that I got to meet the dog Walker who is walking my dog daily and consult with her. I also appreciate the daily communication I get about the dog and how my dog is doing"</p>
      </div>
    </div>
  </article>
  <article class='carousel__item'>
    <div class="plans-container--card">
      <div class="plan-info-container">
        <div class="plan-card--img"></div>
        <h3 class="plan-card--title">Kenned Dsouza</h3>
        <p class="plan-card--saving">" I like that I got to meet the dog Walker who is walking my dog daily and consult with her. I also appreciate the daily communication I get about the dog and how my dog is doing"</p>
      </div>
    </div>
  </article>
  <article class='carousel__item'>
    <div class="plans-container--card">
        <div class="plan-info-container">
          <div class="plan-card--img"></div>
          <h3 class="plan-card--title">Kenned Dsouza</h3>
          <p class="plan-card--saving">" I like that I got to meet the dog Walker who is walking my dog daily and consult with her. I also appreciate the daily communication I get about the dog and how my dog is doing"</p>
        </div>
    </div>
  </article>
</section>
