.plans-container--slider {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  /* gap: 8%; */
  height: 316px;
  overflow-x: hidden;
  align-items: center;
}

/* Carousel */

.carousel__item {
  display: flex;
  justify-content: center;
  position: absolute;
  opacity: 0;
  /* filter: drop-shadow(0 2px 2px #555); */
  will-change: transform, opacity;
  animation: carousel-animate-vertical 15s linear infinite;
}

.carousel__item:nth-child(1) {
  animation-delay: calc(5s * -1);
}

.carousel__item:nth-child(2) {
  animation-delay: calc(5s * 0);
}

.carousel__item:last-child {
  animation-delay: calc(-5s * 2);
}

@keyframes

carousel-animate-vertical {
  0% {
    transform: translateX(70%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
  3%, 33.3333333333% {
    transform: translateX(70%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  36.3333333333%, 66.6666666667% {
    transform: translateX(0) scale(1);
    opacity: 1;
    visibility: visible;
  }
  69.6666666667%, 100% {
    transform: translateX(-70%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  103% {
    transform: translateX(-70%) scale(0.5);
    opacity: 0;
    visibility: visible;
  }
  /* 100% {
    transform: translateX(-100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  } */
}

/* Fin carousel */
