<main class="mainHome">
  <app-nav></app-nav>
  <app-hero></app-hero>
  <app-our-services></app-our-services>
  <app-owners-pets></app-owners-pets>
  <app-how-it-works></app-how-it-works>
  <app-about-us></app-about-us>
  <app-footer></app-footer>
  <div class="waveOne">
    <div style="height: 900px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-12.13,138.66 C343.95,188.00 133.46,-33.03 508.17,46.88 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: var(--unnamed-color-ff6752);"></path></svg></div>
  </div>
  <div class="waveTwo">
    <div class="waveThree" style="height: 210px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-33.57,180.11 C109.20,20.23 283.01,-41.92 523.98,63.66 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: var(--unnamed-color-4487ff);"></path></svg></div>
    <div style="height: 900px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-12.13,138.66 C343.95,188.00 133.46,-33.03 508.17,46.88 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: var(--unnamed-color-4487ff);"></path></svg></div>
  </div>
  <div class="cicleYellow"></div>
  <div class="cicleYellowTwo"></div>
</main>
