<section id="services" class="services-container">
  <div class="services-left">
    <app-location-text></app-location-text>
  </div>
  <div class="cards">
    <div class="cards-grid">
      <app-card routeCard="./assets/img/dog.svg" textCard="Dog Waking"></app-card>
      <app-card routeCard="./assets/img/Grupo 63.svg" textCard="Pet Sitting"></app-card>
      <app-card routeCard="./assets/img/Grupo 65.svg" textCard="Dog Boarding"></app-card>
      <app-card routeCard="./assets/img/Grupo 64.svg" textCard="Dog Training"></app-card>
    </div>
  </div>
</section>
